<h1>Signup Form</h1>

<%= form_for @signup do |f| %>
<%= f.collection_select(:camper_id, Camper.all, :id, :name) %>
<%= f.collection_select(:activity_id, Activity.all, :id, :name) %>
<%= f.select :time, (0...24).to_a %>
<%= f.submit "Submit" %>
<% end %>