<h1> New Camper Form</h1>

<%= form_for @camper do |f| %>
  <strong><%= f.label :name %></strong>
  <%= f.text_field :name %>
  <br>
  <strong><%= f.label :age %></strong>
  <%= f.number_field :age %>
  <br>
  <%= f.submit %>
  <%end%>